# Core dependencies
Flask==2.3.3
Werkzeug==2.3.7
gunicorn==21.2.0

# TensorFlow and related dependencies
tensorflow==2.14.0
numpy==1.24.3
Pillow==10.0.1

# Utils
scipy==1.11.2
matplotlib==3.7.3

# ion
h5py==3.9.0